<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {{user.username}}
    <button ><a href="{% url 'users:logout' %}">Logout</a></button>
    {% for todolist in todolists %}
        <h1>{{todolist}}</h1>
        <br>
        {% for todo in todolist.todo_set.all %}
            {{todo}}
        {% endfor %}
        <form action="">
            <label for="new_todo">New Todo</label>
            <input type="text" name="new_todo" id='new_todo'>
            <button id="new_todo_submit">Add</button>
        </form>
        <br>
    {% endfor %}
    <form action="">
        <label for="new_todolist">New Todolist</label>
        <input type="text" name="new_todolist" id='new_todolist'>
        <button id="new_todolist_submit">Add</button>
    </form>

</body>
</html>