<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

    <script id="new_todo_template" type="text/x-handlebars-template">

        <li id="todo_{% templatetag openvariable %}id{% templatetag closevariable %}"> <input type="checkbox" class="todo-checkbox" data-todo-id="{% templatetag openvariable %}id{% templatetag closevariable %}">{% templatetag openvariable %}todo{% templatetag closevariable %}</li>  
    </script>

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'todos/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'todos/script.js' %}"> -->
    <script type="text/javascript" src="{% static 'todos/script.js' %}"></script>
    <title>Home</title>
</head>
<body>

    <button ><a href="{% url 'users:logout' %}">Logout</a></button> -->

    <div id="top-bar">
        <ul id='top-bar-items'>
            <li id='brand-name'>Brand name</li>
            <li id='logout-button' style="float: right;">logout</li>
            <li id='username' style="float: right;">{{user.username}}</li>

        </ul>
    </div>

    <br>
    <div id='todolist-container'>
    {% for todolist in todolists %}
        <div class="todolist" id="div_{{forloop.counter}}">
            <h3>{{todolist}}</h3>
            <br>
            <ul id="todolist_{{forloop.counter}}">
            {% for todo in todolist.todo_set.all %}
                <li id="todo_{{todo.id}}"> <input type="checkbox" class="todo-checkbox" data-todoID="{{todo.id}}">{{todo}}</li>
            {% endfor %}
            </ul>
            <form class='add_new_todo' data-todolist_id="{{todolist.id}}">
                {% csrf_token %}
                <label for="new_todo">New Todo</label>
                <input type="text" name="new_todo" class='new_todo'>
                <button class="new_todo_submit" type="submit">Add</button>
            </form>
            <br>
        </div>
    {% endfor %}
        <div class="todolist">
            <form>
                <label for="new_todolist">New Todolist</label>
                <input type="text" name="new_todolist" id='new_todolist'>
                <button id="new_todolist_submit">Add</button>
            </form>
        </div>
    </div>
</body>
</html>